.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1d1d1d;
  user-select: none;
}
#first-bar {
  width: 100%;
  height: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  background-color: rgb(44, 28, 28);
}
#logospace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  text-align: center;
}
#logospace * {
  color: white;
  text-decoration: none;
}
#logospace h2 {
  margin-top: 0px;
}
#first-bar ul {
  margin-left: -40px;
  width: 100%;
  background-color: rgb(44, 28, 28);
}
#first-bar ul li {
  margin-left: 0px;
  display: flex;
  list-style: none;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(53, 75, 47);
}
#first-bar ul li a {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: dimgray;
  font-size: 1.2rem;
}
#first-bar ul li a:hover {
  color: aqua;
}
#soundcloud {
  background-color: rgb(65, 40, 40, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  width: 140px;
  height: 30px;
  position: fixed;
  top: 16px;
  left: 20px;
  z-index: 2;
  color: white;
}
#sound {
  width: 0px;
  height: 0px;
}
#soundcloud span {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
#soundplay {
  display: inline-block;
  height: 100%;
  width: 45px;
  cursor: pointer;
  color: red;
}
.container {
  position: fixed;
  right: 10px;
  cursor: pointer;
  background-color: black;
  width: 55px;
  height: 55px;
  margin-top: 0px;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 10px 10px;
  transition: 0.01s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 12px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -10px);
}
.unselect p {
  font-family: "Edwardian Script ITC";
  font-size: 2rem;
  color: rgb(119, 68, 68);
  user-select: none;
}
.unselect P {
  padding: 0px;
  margin: 0px;
  height: 35px;
}
#art1 {
  margin-left: 70px;
}
.htmleft span {
  margin-left: -30px;
}
#jackimage {
  display: none;
}
.animletter {
  display: none;
  font-size: 3.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100px;
  height: 100px; */
  font-weight: bold;
  user-select: none;
}
#presentation {
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
  font-size: 1.3rem;
  margin-left: 20px;
  margin-top: 15px;
  height: 0px;
}
#contact1 {
  margin-top: 55px;
  margin-left: 10px;
  margin-bottom: 100px;
}
.contactme {
  background-size: 250% 100%;
  background-image: linear-gradient(
    -75deg,
    rgb(29, 29, 29) 50%,
    antiquewhite 50%
  );
  background-position: 100% -200%;
  transition: background-position 0.5s;
  width: 250px;
  height: 60px;
  text-decoration: none;
  border: 1px solid antiquewhite;
  display: flex;
  color: antiquewhite;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center;
}
.contactme:hover {
  background-position: 0 -100%;
  color: black;
}
@keyframes textanim {
  0% {
    transform: scale(1, 1);
    transition-timing-function: ease-in;
  }
  40% {
    transform: scale(1.3, 0.6);
  }
  50% {
    transform: scale(0.7, 1.3);
  }
  70% {
    transform: scale(1.2, 0.8);
  }
  80% {
    transform: scale(0.8, 1.2);
  }
  90% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes scrollanim {
  50% {
    transform: translateX(20px);
    transition-timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    transition-timing-function: ease-in;
  }
}
/* .animletter:hover {
  animation-name: textanim;
  animation-duration: 1s;
  animation-iteration-count: 1;
} */
.animf {
  animation-name: textanim;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.animline2 span {
  display: inline-block;
  font-size: 4.5rem;
}
.animline2 {
  margin-left: 30px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 50px;
}
.scrolldown {
  color: white;
  width: 120px;
  font-size: 1rem;
  position: absolute;
  top: 85%;
  right: -35px;
  display: flex;
  justify-content: space-between;
  transform: rotate(90deg);
}
#scrollleft {
  left: -35px;
}
.scrolldown span {
  animation-name: scrollanim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#honors {
  position: fixed;
  top: 20%;
  right: 0px;
}
.gallery {
  color: white;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
#posit2 {
  width: 70%;
  margin-top: 30px;
  margin-left: 30px;
}
#contact2 {
  margin-top: 20px;
  margin-left: 30px;
}
#sectionposit1 {
  margin-left: -20px;
}
#section2 {
  margin-left: -10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* linkclose */
.projectname {
  background-image: url(../images/proj1.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.5vw;
  height: 33.33vw;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
}
.projectname:hover a {
  height: 60%;
  width: 60%;
  transition: all 0.3s ease-in-out;
}
.projectname:hover a span {
  display: inline-block;
}
.projectname a span {
  display: none;
  text-align: center;
}

.projectname:hover {
  background-size: 110% 110%;
  transition: all 0.3s;
}
.projectname a {
  text-decoration: none;
  color: black;
  display: flex;
  height: 0vw;
  width: 0vw;
  font-size: 0.9rem;
  letter-spacing: 3px;
  background-color: beige;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#lastproj {
  display: none;
}
.tagclass {
  font-family: "Edwardian Script ITC";
  font-size: 2rem;
  color: rgb(119, 68, 68);
  user-select: none;
  width: 500px;
  height: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
}
#tagposit1 {
  margin-left: 10px;
}
#tagposit2 {
  margin-left: 60px;
  margin-top: -10px;
}
.amimletter3 span {
  display: inline-block;
  font-size: 4.5rem;
}
.amimletter3 div {
  display: inline-block;
  width: 20px;
}
.amimletter3 {
  margin-left: 50px;
}
#tagposit4,
#tagposit2,
#tagposit3 {
  margin-left: 30px;
  margin-top: -20px;
}
#textposit3 {
  margin-left: 50px;
  width: 85%;
  text-align: left;
}
/* sphere animation code<<<<<<<<<<<<<<<<<<<<<<<<<<<<<here>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 650;
  margin: auto;
  width: 100%;
}
.tagcloud--item:hover {
  color: white;
}
.content {
  width: 100%;
}
/* sphere animation code<<<<<<<<<<<<<<<<<<<<<<<<<<<<<here>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.sphere {
  width: 85%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 50px;
}
.articles {
  margin-top: 100px;
  margin: auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article {
  width: 85vw;
  height: 200px;
  border-top: 4px solid burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin-top: 50px;

  box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
}
.article span {
  width: 90%;
}
.articlefspan {
  letter-spacing: 3px;
  font-weight: bold;
  color: burlywood;
  font-size: 1rem;
}
.articlesspan {
  font-size: 2rem;
}
.articletspan {
  color: dimgrey;
  font-weight: bold;
  font-size: 1.1rem;
}
#seeall {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  color: white;
  margin-top: 40px;
  font-size: 1.1rem;
}
#seeall a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
#seeall a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
#lastblock {
  margin-top: 100px;
}
.amimletter4 {
  margin-left: 50px;
}
.amimletter4 span {
  display: inline-block;
  font-size: 4.5rem;
}
.amimletter4 div {
  display: inline-block;
  width: 20px;
}
#textposit4 {
  margin-left: 55px;
  width: 90%;
}
#tagposit5 {
  margin-top: -20px;
  margin-left: 40px;
}
.formbganim {
  background-size: 250% 100%;
  background-image: linear-gradient(
    -75deg,
    rgba(43, 43, 43, 1) 50%,
    antiquewhite 50%
  );
  background-position: 100% -200%;
  transition: background-position 0.5s;
  width: 250px;
  height: 60px;
  text-decoration: none;
  border: 1px solid antiquewhite;
  display: flex;
  color: antiquewhite;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center;
}
/* .formbganim:hover {
  background-position: 0 -100%;
  color: black;
} */
#nameemail {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
}
form {
  margin-left: 60px;
  font-size: 2.1rem;
}
#input1 {
  width: 49%;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  margin-top: 12px;
}
#input2 {
  width: 49%;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  margin-top: 12px;
}
#input3 {
  height: 70px;
  width: 90%;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  margin-top: 12px;
}
#input4 {
  width: 90%;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  height: 200px;
  margin-top: 12px;
}
#uid,
#umailid {
  background-color: rgba(43, 43, 43, 1);
  border: none;
  width: 100%;
  height: 85%;
  margin-top: -5px;
  font-size: 1.1rem;
}
#subjectid,
#teareaid {
  width: 100%;
  height: 85%;
  margin-top: -5px;
  background-color: rgba(43, 43, 43, 1);
  border: none;
  font-size: 1.1rem;
}
.map {
  background-image: url(../images/map.PNG);
  background-position: center;
  background-size: cover;
  width: 85%;
  margin: auto;
  height: 90vh;
}
#contact5 {
  margin-left: 50%;
  font-size: 1.1rem;
  width: 230px;
  height: 50px;
  margin-top: 45px;
}
#tagposit6 {
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
}
#tagposit7 {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 20px;
}
@media screen and (min-width: 700px) {
  .articles {
    margin-top: 100px;
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .article {
    width: 45%;
    height: 350px;
    border-top: 4px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    margin-top: 50px;

    box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
  }
  .animletter {
    display: none;
    font-size: 4.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100px;
  height: 100px; */
    font-weight: bold;
    user-select: none;
  }
}

@media screen and (min-width: 1000px) {
  #lastblock {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .articles {
    margin-top: 100px;
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .article {
    width: 30%;
    height: 250px;
    border-top: 4px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    margin-top: 50px;

    box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 17px 3px rgba(0, 0, 0, 0.75);
  }
  #spherecontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  #textposit3 {
    width: 70%;
    text-align: left;
  }
  .sphere {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .sphere span {
    width: 50%;
  }
  #lastproj {
    display: flex;
  }
  #section2 {
    margin-left: -10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  /* linkclose */
  .projectname {
    background-image: url(../images/proj1.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5vw;
    height: 19.5vw;
    margin-left: 0px;
    margin-right: 0px;
  }
  .animletter {
    display: none;
    font-size: 5.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100px;
  height: 100px; */
    font-weight: bold;
    user-select: none;
  }
  #contact2 {
    margin-top: -70px;
    margin-left: 70%;
  }
}
@media screen and (min-width: 1430px) {
  #lastblock {
    margin-left: 160px;
  }
  .secondblock {
    margin-left: 150px;
  }
  #section2 {
    margin-left: -10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  /* linkclose */
  .projectname {
    background-image: url(../images/proj1.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.4vw;
    height: 17.5vw;
    margin-left: 0px;
    margin-right: 0px;
  }
  body {
    background-color: 1d1d1d;
  }
  #section2 {
    background-color: blueviolet;
    margin-left: 150px;
    margin-top: 30px;
  }
  .animletter {
    display: none;
    font-size: 6.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100px;
  height: 100px; */
    font-weight: bold;
    user-select: none;
  }
  section {
    margin-left: 150px;
  }

  .container {
    display: none;
  }
  #soundcloud {
    left: unset;
    right: 20px;
  }
  #scrollleft {
    left: 120px;
  }

  #first-bar {
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background-color: rgb(44, 28, 28);
  }
}
